/* share style */


.fira-code {
   font-family: "Fira Code", monospace;
   font-optical-sizing: auto;
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   background:
      radial-gradient(circle at 20% 30%, rgba(199, 120, 221, 0.15), transparent 40%),
      radial-gradient(circle at 80% 70%, rgba(255, 255, 255, 0.08), transparent 40%),
      linear-gradient(28.96%, #1f242d, #2b313d, #3a3f4b);

   background-color: #1f242d;
}

/* main style */

/* header style */

header {
   width: 100%;
}

.header-box {
   display: flex;
   align-items: center;
}

.header-box h1 {
   color: #FFFFFF;
   margin-left: 40px;
   opacity: 100%;
}

.typing {
   color: #FFFFFF;
   width: 0;
   overflow: hidden;
   white-space: nowrap;
   animation: typing 4s steps(30) forwards, blink 0.7s infinite;
   margin-left: 55px;
}

@keyframes typing {
   to {
      width:33ch;
   }
}

@keyframes blink {
   50% {
      border-color: transparent;
   }
}

/* .typing { 
  background: linear-gradient(90deg, red, blue, green);
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
} */


.typing:hover {
  transform: scale(0.95);
  color:#C778DD;
  transition: 0.3s;
}

.title{
   color: #C778DD;
   margin-left: 55px;
}

.asterisk {
   color: #C778DD;
}

hr {
   width: 100%;
   color: #C778DD;
   margin-bottom: 50px;
}

/* section style */
.box-container {
   max-width: 1400px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-gap: 30px;
}

.box {
   border: 3px solid #ABB2BF;
   opacity: 100%;
   text-align: center;
}

.box:hover {
   border: 3px solid #C778DD;
}

.box h2 {
   color: #ffffff;
   text-align: center;
   border-bottom: 3px solid #ABB2BF;
   font-size: 1.5rem;
   opacity: 100%;
   font-weight: 500;
   padding-bottom: 5px;
}

.box p {
   color: #ABB2BF;
}

.box .animation {
   border-bottom: 3px solid #ABB2BF;
}

button {
   border: 2px solid #C778DD;
   font-size: 16px;
   font-weight: 500;
   padding: 5px 20px;
   color: #FFFFFF;
   background:
      radial-gradient(circle at 20% 30%, rgba(199, 120, 221, 0.15), transparent 40%),
      radial-gradient(circle at 80% 70%, rgba(255, 255, 255, 0.08), transparent 40%),
      linear-gradient(28.96%, #1f242d, #2b313d, #3a3f4b);

   background-color: #1f242d;
}

button a {
   text-decoration: none;
   font-weight: 500;
   font-size: 16px;
   color: #FFFFFF;
   display: flex;
   align-items: center;
   gap: 5px;
}

.box img {
   width: 100%;
   height: 320px;
   border-bottom: 3px solid #ABB2BF;
}

@media screen and (max-width: 576px) {
   .box-container {
      grid-template-columns: 1fr;
   }
}